@use "src/styles/mixin.scss" as *;

.footer {
  color: rgb(19, 48, 212);
  grid-row-start: 57;
  display: flex;
  gap: 24px;

  @include mq(sp) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  a {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  img {
    flex-shrink: 0;
  }
}

@media (hover: hover) and (pointer: fine) {
  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
