@use 'src/styles/mixin.scss' as *;
@use 'src/styles/constants.scss' as *;

.footer {
  width: $s-sp-max;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  background-color: #333;

  @include mq(sp) {
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .logo {
    h2 {
      margin: 0;
      font-size: 1.5rem;
    }
  }

  .socials {
    display: flex;
    gap: 15px;

    a {
      font-size: 0.9rem;
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .copy {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #aaa;
  }
}
