@use 'src/styles/mixin.scss' as *;
@use 'src/styles/constants.scss' as *;

/* ------- スライドメニュー ------- */
$z-nav: 40;
$z-btn: 50;

.menu {
  position: fixed;
  inset: 0 auto 0 100%; /* 画面外（右）に配置 */
  z-index: $z-nav;
  width: 100%;
  overflow-y: auto;
  background: $c-logo-gradient;
  // box-shadow: -4px 0 12px rgba(#000, 0.08);

  /* open クラスで画面内へ */
  transform: translateX(0);
  transition: transform 0.35s;
  &.open {
    transform: translateX(-100%);
  }

  @include mq(pc) {
    display: flex;
    align-items: center; /* 上下中央揃え */
    justify-content: center; /* 左右中央揃え */
    width: calc((100% - #{$s-sp-max}) / 2);
    overflow-x: hidden;
    background: transparent;
    box-shadow: none;
    transform: translateX(-100%);
    transition: none;
  }

  .logo {
    position: relative;
    width: 100%;
    height: 20rem;

    @include mq(pc) {
      display: none;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 3rem;
    text-align: center;
    list-style: none;

    @include mq(pc) {
      width: 100%;
      margin: auto;
    }

    .item a {
      font-size: 2.4rem;
      font-weight: 600;
      color: white;
      text-decoration: none;

      @include mq(pc) {
        color: $c-accent-1;
      }
    }
  }
}

/* ------- ハンバーガーボタン ------- */
.hamburger {
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
  z-index: $z-btn;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 1s;

  span {
    width: 24px;
    height: 4px;
    border-radius: 2px;
    transition: all 1s;
  }

  &.open {
    background: white;
    border: 1px solid $c-logo-gradient;

    span {
      background: $c-logo-gradient;
    }
  }

  &.close {
    background: $c-logo-gradient;
    border: none;

    span {
      background: white;
    }
  }

  @include mq(pc) {
    display: none;
  }
}
