@use 'src/styles/mixin.scss' as *;
@use 'src/styles/constants.scss' as *;

.container {
  .slide {
    width: 20rem; /* slidesPerView="auto" と併用 */
    text-align: center;

    .image {
      width: 20rem;
      height: 20rem;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 5%;
      box-shadow: 0 4px 12px rgba(#000, 0.35);

      // @include v.hover-scale; /* ホバー拡大 */
    }

    .float {
      position: absolute;
      right: -3%;
      bottom: 17%;
      display: flex;
      flex-direction: row;
      opacity: 0.5;

      .act,
      .floor {
        font-family: var(--font-montserrat);
        font-size: 2.8rem;
        line-height: 1.2;
        color: white;
        text-align: right;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        -webkit-text-stroke: 1.5px $c-accent-1;
        /* stylelint-disable-next-line property-no-unknown */
        text-stroke: 1.5px $c-accent-1;
        paint-order: stroke;
      }
    }

    .name {
      margin-top: 1.6rem;
      font-size: 2rem;
    }
  }
}
