html,
body {
  scroll-behavior: smooth;
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  font-family: var(--font-kiwi-maru);
  font-size: 62.5%; // 10px
}

body {
  display: grid;
}

main {
  position: relative;
  width: 100vw;
}

footer {
  margin-block: auto 0;
}
