@use 'src/styles/mixin.scss' as *;
@use 'src/styles/constants.scss' as *;

.home {
  width: 100%;
  font-size: 1.6rem;

  .flyer {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1.414; // A4

    .image {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .subtitle {
    position: relative;
    display: inline-block;
    padding-inline: 5rem;
    margin-bottom: 3rem;
    font-size: 2.8rem;
    font-weight: bold;
    font-weight: 700;
    line-height: 1.2;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      width: 3rem;
      height: 2px;
      content: '';
      transform: translateY(-50%);
    }

    &::before {
      left: 0;
      background: $c-logo-gradient-left;
    }
    &::after {
      right: 0;
      background: $c-logo-gradient-right;
    }
  }

  .more {
    position: relative;
    display: inline-block;
    width: 24rem;
    max-width: calc(100% - 2rem);
    padding: 1rem 0;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease-in-out;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: $c-logo-gradient;
      border-radius: 100vh;
      transition: all 0.3s ease-in-out;
    }

    span {
      position: relative;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
    }

    &:hover {
      color: black;
      border-right: 5px solid $c-accent-3;
      border-left: 5px solid $c-accent-1;
      border-radius: 100vh;

      &::before {
        opacity: 0;
      }
    }
  }

  .about {
    padding: 2rem 0 0;
    margin: 3rem 0 5rem;
    text-align: center;

    .desc {
      font-size: 1.6rem;
    }

    .title {
      margin-top: 1.5rem;
      font-size: 3.2rem;
      font-weight: bold;
    }

    .date,
    .at {
      font-size: 1.8rem;
    }

    .date {
      margin-top: 2rem;
    }

    .map {
      width: 100%;
      margin: 4rem 0;

      iframe {
        width: calc(100vw - 5rem);
        max-width: calc($s-sp-max - 5rem);
        height: calc(100vw - 5rem);
        max-height: calc($s-sp-max - 5rem);
        border: 0;
        border-radius: 3%;
      }
    }
  }

  .casts {
    padding: 2rem 0 0;
    margin: 3rem 0 5rem;
    text-align: center;

    .pickup {
      position: relative;
      width: fit-content;
      margin: 0 auto 2rem;

      span {
        font-size: 2rem;

        .marker {
          position: absolute;
          top: 60%;
          z-index: -1;
          width: 100%;
          height: 40%;
          background: $c-logo-gradient;
          opacity: 0.4;
        }
      }
    }

    .slider {
      margin: 2rem 0 3rem;
    }
  }

  .characters {
    padding: 2rem 0 0;
    margin: 3rem 0 5rem;
    text-align: center;
  }

  .ticket {
    padding: 2rem 0 0;
    margin: 3rem 0 5rem;
    text-align: center;

    .category {
      margin-bottom: 3rem;

      .name {
        width: 16rem;
        max-width: calc(100% - 8rem);
        padding: 0.5rem 0;
        margin: 0 auto;
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
        text-align: center;
        border-right: 3px solid $c-accent-3;
        border-left: 3px solid $c-accent-1;
      }

      .price {
        margin-bottom: 1.2rem;
        font-size: 2rem;
        font-weight: bold;
      }

      .tAttention {
        margin: 0 1.2rem;
        font-size: 1.2rem;
      }
    }
  }

  .attention {
    padding: 2rem 0 0;
    margin: 3rem 0 2rem;
    text-align: center;

    .list {
      padding: 0;
      margin: 0;
      list-style: none;

      .item {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: 0.4rem 0 0.4rem 1.2rem;
        margin: 1.2rem 1rem 0;
        font-size: 1.2rem;
        text-align: left;

        &::before {
          position: absolute;
          inset-block: 0;
          left: 0;
          width: 3px;
          content: '';
          background: $c-logo-gradient;
          opacity: 0.6;
        }
      }
    }
  }
}
