@use 'src/styles/mixin.scss' as *;
@use 'src/styles/constants.scss' as *;

.home {
  width: 100%;
  font-size: 1.6rem;

  .flyer {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1.414; // A4

    .image {
      display: block; /* 行間スペース除去 */
      width: 100%; /* 横幅を100%に拡大 */
      height: auto; /* アスペクト比保持 */
      object-fit: contain; /* 余白が出ても縦横比優先 */
    }
  }

  .about {
    margin: 3rem 1rem;
    text-align: center;

    .desc {
      font-size: 1.6rem;
    }

    .title {
      margin-top: 1.2rem;
      font-size: 2.8rem;
      font-weight: bold;
    }

    .date,
    .at {
      font-size: 1.8rem;
    }

    .date {
      margin-top: 2rem;
    }

    .map {
      margin: 3rem 0;

      iframe {
        border: 0;
      }
    }
  }

  .casts {
    margin: 3rem 1rem;
    text-align: center;

    .subtitle {
      margin-bottom: 3rem;
      font-size: 2.8rem;
      font-weight: bold;
    }

    .more {
      width: 60%;
      max-width: calc(100% - 2rem);
      padding: 1rem 2rem;
      margin: 2rem auto 0;
      font-size: 2rem;
      text-align: center;
      border: 1px solid black;
      border-radius: 12px;
    }
  }

  .ticket {
    margin: 3rem 1rem;
    text-align: center;

    .subtitle {
      margin-bottom: 3rem;
      font-size: 2.8rem;
      font-weight: bold;
    }
  }

  .attention {
    margin: 3rem 1rem;
    text-align: center;

    .subtitle {
      margin-bottom: 3rem;
      font-size: 2.8rem;
      font-weight: bold;
    }
  }
}
