@use 'src/styles/mixin.scss' as *;
@use 'src/styles/constants.scss' as *;

.home {
  width: 100%;
  font-size: 1.6rem;

  .flyer {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1.414; // A4

    .image {
      display: block; /* 行間スペース除去 */
      width: 100%; /* 横幅を100%に拡大 */
      height: auto; /* アスペクト比保持 */
      object-fit: contain; /* 余白が出ても縦横比優先 */
    }
  }

  .subtitle {
    position: relative;
    display: inline-block;
    padding-inline: 5rem; /* テキスト左右に余白 */
    margin-bottom: 3rem;
    font-size: 2.8rem;
    font-weight: bold;
    font-weight: 700;
    line-height: 1.2;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      width: 3rem; /* 線の長さ */
      height: 2px;
      content: '';
      transform: translateY(-50%);
    }

    &::before {
      left: 0;
      background: $c-logo-gradient-left;
    }
    &::after {
      right: 0;
      background: $c-logo-gradient-right;
    }
  }

  .about {
    margin: 5rem 0;
    text-align: center;

    .desc {
      font-size: 1.6rem;
    }

    .title {
      margin-top: 1.5rem;
      font-size: 3.2rem;
      font-weight: bold;
    }

    .date,
    .at {
      font-size: 1.8rem;
    }

    .date {
      margin-top: 2rem;
    }

    .map {
      width: 100%;
      margin: 4rem 0;

      iframe {
        width: calc(100vw - 5rem);
        max-width: calc($s-sp-max - 5rem);
        height: calc(100vw - 5rem);
        max-height: calc($s-sp-max - 5rem);
        border: 0;
        border-radius: 3%;
      }
    }
  }

  .casts {
    margin: 5rem 0;
    text-align: center;

    .pickup {
      position: relative;
      width: fit-content;
      margin: 0 auto 2rem;

      span {
        font-size: 2rem;

        .marker {
          position: absolute;
          top: 60%;
          z-index: -1;
          width: 100%;
          height: 40%;
          background: $c-logo-gradient;
          opacity: 0.4;
        }
      }
    }

    .slider {
      margin: 2rem 0;
    }

    .more {
      display: inline-block;
      width: 24rem;
      max-width: calc(100% - 2rem);
      padding: 1rem 0;
      margin: 0 auto;
      font-size: 2rem;
      color: black;
      text-align: center;
      cursor: pointer;
      border-right: 3px solid $c-accent-3;
      border-left: 3px solid $c-accent-1;
      border-radius: 100vh;
      transition: all 0.2s;

      &:hover {
        border-right: 5px solid $c-accent-3;
        border-left: 5px solid $c-accent-1;
      }
    }
  }

  .ticket {
    margin: 5rem 0;
    text-align: center;
  }

  .attention {
    margin: 5rem 0;
    text-align: center;

    .list {
      padding: 0;
      margin: 0;
      list-style: none; /* デフォルトの丸を消す */

      .item {
        /* アクセント：左端に 3px のライン */
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: 0.7rem 1rem;
        margin: 0.4rem 1rem 0;

        &::before {
          position: absolute;
          inset-block: 0; /* top:0; bottom:0; と同じ */
          left: 0;
          width: 3px;
          content: '';
          background: lightblue; /* 共通カラー */
          opacity: 0.6;
        }
      }
    }
  }
}
