@use 'src/styles/mixin.scss' as *;
@use 'src/styles/constants.scss' as *;

.layout {
  .main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .left,
    .right {
      position: fixed;
      width: calc((100% - #{$s-sp-max}) / 2);
      height: 100vh;

      @include mq(sp) {
        display: none;
      }
    }

    .left {
      left: 0;
      background: linear-gradient(to right, white, white 95%, #ccc 100%);

      .logo {
        display: none;

        @include mq(pc) {
          position: relative;
          display: block;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          overflow: hidden;
        }

        .image {
          width: auto;
          max-width: 100%;
          height: auto;
          max-height: 100%;
          object-fit: contain;
        }
      }
    }

    .right {
      right: 0;
      background: linear-gradient(to left, white, white 95%, #ccc 100%);

      .nav {
        display: none;

        @include mq(pc) {
          display: block;
        }
      }
    }
  }

  .center {
    width: 100vw;
    max-width: $s-sp-max;
    margin: 0 auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include mq(sp) {
      position: relative;
      left: 0;
    }
  }
}
