@use 'src/styles/mixin.scss' as *;
@use 'src/styles/constants.scss' as *;

.layout {
  .main {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .left,
    .right {
      position: absolute;
      width: calc((100% - #{$s-sp-max}) / 2);
      height: 100%;

      @include mq(sp) {
        display: none;
      }
    }

    .left {
      left: 0;
      background-color: aquamarine;

      .logo {
        display: none;

        @include mq(pc) {
          display: block;
        }
      }
    }

    .right {
      right: 0;
      background-color: lightskyblue;

      .nav {
        display: none;

        @include mq(pc) {
          display: block;
        }
      }
    }
  }

  .center {
    width: $s-sp-max;
    margin: 0 auto;
    overflow-y: clip;
    background-color: lightcoral;

    @include mq(sp) {
      position: relative;
      left: 0;
      width: 100%;
    }
  }
}
