name: Notify Discord
on:
  push:
    branches:
      - main
jobs:
  discord_notify:
    runs-on: ubuntu-latest
    steps:
    - run: |
      curl ${{ secrets.DISCORD_WEBHOOK_URL }} -H "Content-Type: application/json" -X POST -d '{"content": "ビルドが完了しました！\nhttps://haikei-hajimari-no-oto-he.vercel.app/"}'
